body{
margin:0;
padding:0;
background:linear-gradient(135deg,#ff9a9e,#fad0c4);
font-family:Arial;
height:100vh;
overflow:hidden;
}

.container{
text-align:center;
margin-top:15%;
}

h1{
color:white;
font-size:40px;
}

button{
padding:15px 30px;
font-size:20px;
border:none;
border-radius:10px;
margin:10px;
cursor:pointer;
}

#yes{
background:#ff4d6d;
color:white;
}

#no{
background:#444;
color:white;
position:absolute;
}

.hidden{
display:none;
}

/* hearts animation */

.heart{
position:absolute;
color:red;
font-size:30px;
animation:fall 4s linear infinite;
}

@keyframes fall{
0%{
transform:translateY(-100px);
opacity:1;
}
100%{
transform:translateY(100vh);
opacity:0;
}
}
